body {
  margin: 0em;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/a0be5666-5787-40c2-8bf0-5be519a01a1e/pancetaVerdeo.jfif?v=1669165974056);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title {
  min-height: 3rem;
}

.card-text {
  min-height: 10rem;
}

.cardProduct {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cardProduct:hover {
  transform: scale(1.05);
}

.cardProduct-title {
  min-height: 3rem;
}

.cardProduct-text {
  min-height: 10rem;
}

.product-stripe {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stripe-container {
  display: flex;
  justify-content: flex-end;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.btn-success {
  height: 45px;
  /* width: 20%; */
  font-weight: bold;
  border: none;
  border-radius: 3px;
  transition: 0.1s ease all;
}

/* .btn-success:hover {
  opacity: .9;
  transform: scale(1.10);
} */

.logo {
  height: 50px;
}

.logo:hover {
  transform: scale(1.1);
}

.img-logo {
  height: 100px;
}

.navbar {
  box-shadow: 1px 1px 3px 0px #575965;
  padding: 5px 15px;
  border: 0;
}

.nav-link {
  margin: -5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #121212;
  text-transform: uppercase;
}

.nav-link:hover {
  transform: scale(1.1);
}

.invisible {
  display: none;
}

/*region formulario*/
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #f6f2ef;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-comprar {
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__grupo-btn-comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  margin-top: 20px;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/*Estilos para validación*/
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/*Mediaqueries*/
@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }
  .formulario__mensaje,
  .formulario__grupo-btn-comprar {
    grid-column: 1;
  }
}

@media screen and (max-width: 400px) {
  .nav-link {
    font-size: 16px;
    margin: -10px;
  }
}
